* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

header #User {
    width: 10%;
}

header #Fortes {
    margin-left: 100px;
    width: 25%;
}

.lateral {
    width: 20%;
    height: 100%;
    background-color: blue;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
}

.lateral ul li {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}

.lateral ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

#home {
    width: 10%;
}

#perfil {
    width: 10%;
}

#cursos {
    width: 10%;
}

#recompensa {
    width: 10%;
}

#classificacao {
    width: 10%;
}

.lateral ul li a {
    width: 100%;
    height: 100%;
    padding: 7px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white
}

.lateral ul li a:hover {
    background-color: rgb(20, 20, 255);
}

.lateral h3 {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: medium;
}

.lateral #voltar {
    width: 60px;
    margin: 20px;
}

#Fortes-2 {
    width: 80%;
    margin-left: 28px;
}

footer {
    width: 100%;
    height: 5%;
    position: fixed;
    background-color: gray;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo{
  width: 1247px;
  height: 560px;
  position: absolute;
  top: 156px;
  left: 312px;
  padding: 20px ;
  padding-left: 40px;
}

#inicio{
  font-size: 25px;
  margin-bottom: 20px;
}

#texto{
  width: 450px;
  font-size: 15px
}

#ultimo{
  width: 400px;
  height: 150px;
  background-color: lightgray;
  position: absolute;
  left: 800px;
  top: 20px;
  border-radius: 20px;
}
.topo{
  width: 100%;
  height: 10%;
  background: rgb(28, 62, 255);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#ultimo p{
  position: absolute;
  left: 20px;
  bottom: 10px;
}

#continuar{
  width: 400px;
  height: 150px;
  background-color: lightgray;
  position: absolute;
  left: 800px;
  top: 200px;
  border-radius: 20px;
}

#continuar p{
  position: absolute;
  left: 20px;
  bottom: 10px;
}

#progresso{
  width: 400px;
  height: 150px;
  background-color: lightgray;
  position: absolute;
  left: 40px;
  top: 200px;
  border-radius: 20px;
}

#barra{
  width: 90%;
  height: 15%;
  background-color: rgb(28, 62, 255);
  border: 1px black solid;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

#barra_2{
  width: 30%;
  height: 100%;
  background-color: lightgray;
  position: absolute;
  right: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#progresso p{
  position: absolute;
  left: 30px;
  bottom: 35px;
}

#mensagens{
  width: 1160px;
  height: 180px;
  padding: 10px;
  background-color: lightgray;
  position: absolute;
  left: 40px;
  bottom: 20px;  
}

#msgCont{
  height: 80%;
  display: flex;
  margin-top: 10px;
}

#nome{
  height: 100%;
  width: 15%;
  border-right: 0.5px black solid;
}
#assunto{
  height: 100%;
  width: 70%;
  border-right: 0.5px black solid;
}

#data{
  height: 100%;
  width: 15%;
  border-right: 0.5px black solid;
}

#status{
  height: 100%;
  width: 15%;
}