*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: lightgray;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}

header #User{
    width: 10%;
}

header #Fortes{
    margin-left: 100px;
    width: 25%;
}

.lateral{
    width: 20%;
    height: 100%;
    background-color: blue;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
}

.lateral ul li{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}

.lateral ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

#home{
    width: 10%;
}
#perfil{
    width: 10%;
}
#cursos{
    width: 10%;
}
#recompensa{
    width: 10%;
}
#classificacao{
    width: 10%;
}
.lateral ul li a{
    width: 100%;
    height: 100%;
    padding: 7px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white
}
.lateral ul li a:hover{
    background-color: rgb(20, 20, 255);
}

.lateral h3{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: medium;
}
.lateral #voltar{
    width: 60px;
    margin: 20px;
}

#Fortes-2{
    width: 80%;
    margin-left: 28px;
}

footer{
    width: 100%;
    height: 5%;
    position: absolute;
    background-color: gray;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}