* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

header #User {
    width: 10%;
}

header #Fortes {
    margin-left: 100px;
    width: 25%;
}

.lateral {
    width: 20%;
    height: 100%;
    background-color: blue;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
}

.lateral ul li {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}

.lateral ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

#home {
    width: 10%;
}

#perfil {
    width: 10%;
}

#cursos {
    width: 10%;
}

#recompensa {
    width: 10%;
}

#classificacao {
    width: 10%;
}

.lateral ul li a {
    width: 100%;
    height: 100%;
    padding: 7px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white
}

.lateral ul li a:hover {
    background-color: rgb(20, 20, 255);
}

.lateral h3 {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: medium;
}

.lateral #voltar {
    width: 60px;
    margin: 20px;
}

#Fortes-2 {
    width: 80%;
    margin-left: 28px;
}

footer {
    width: 100%;
    height: 5%;
    position: fixed;
    background-color: gray;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo{
  width: 1247px;
  height: 560px;
  position: absolute;
  top: 156px;
  left: 312px;
  padding: 20px ;
  padding-left: 40px;
}

#h_recompensa{
  font-size: 20px;
  margin-bottom: 20px;
}

#suaMeta{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    position:absolute;
    align-items: center;
    right: 350px;
}
#suaMeta h4{
    top: 0px;
}
#meta{
    height: 80%;
    width: 80%;
    background-color: lightgray;
}

#porcentagem{
    position: absolute;
    top: 150px;
    right: 70px;
}

#curso_5{
    width: 350px;
    height: 150px;
    background-color: lightgray;
    position: absolute;
    left: 10px;
    top: 220px;
    border-radius: 20px;
}
#curso_5 h1{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
#curso_4{
    width: 350px;
    height: 150px;
    background-color: lightgray;
    position: absolute;
    left: 420px;
    top: 220px;
    border-radius: 20px;
}
#curso_4 h1{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
#curso_3{
    width: 350px;
    height: 150px;
    background-color: lightgray;
    position: absolute;
    left: 830px;
    top: 220px;
    border-radius: 20px;
}
#curso_3 h1{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
#curso_2{
    width: 350px;
    height: 150px;
    background-color: lightgray;
    position: absolute;
    left: 10px;
    top: 400px;
    border-radius: 20px;
}
#curso_2 h1{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
#curso_1{
    width: 350px;
    height: 150px;
    background-color: lightgray;
    position: absolute;
    left: 420px;
    top: 400px;
    border-radius: 20px;
}
#curso_1 h1{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
#curso_6{
    width: 350px;
    height: 150px;
    background-color: lightgray;
    position: absolute;
    left: 830px;
    top: 400px;
    border-radius: 20px;
}
#curso_6 h1{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
#curso_6 #barra{
    background-color: white;
}

#conteudo h3{
    position: absolute;
    right: 30px;
    bottom: 50px;
}
#conteudo h4{
    position: absolute;
    left: 30px;
    bottom: 10px;
}
#barra{
    width: 280px;
    height: 20px;
    background-color: rgb(28, 62, 255);
    border: 1px black solid;
    border-radius: 20px;
    position: absolute;
    top: 130px;
    right: 70px;
}
  
#barra_2{
    width: 30%;
    height: 100%;
    background-color: lightgray;
    position: absolute;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.topo{
    width: 100%;
    height: 10%;
    background: rgb(28, 62, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  

  